/****************************
*****************************
    ROLLING BANK - TARJETA
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

/*---------------------------
    SECCIONES-HEADER
---------------------------*/

.secciones a:hover, .redes a:hover{
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
    font-weight: bold;
}

.redes a {
    font-size: 1.3rem;
    color: black;
}

/*---------------------------
    SECCIONES-USER
---------------------------*/

.accesos-directos {
    color: black;
    transition: color .5s;
}

.accesos-directos:hover {
    color: #00AA4F;
    transition: color .5s;
    text-decoration: none;
}

/*---------------------------
    SECCIONES-NOTIFICACIONES
---------------------------*/

.datos {
    font-size: 1.2rem;
}

.edit {
    color: gray;
    transition: color .5s;
}

.edit:hover {
    color: #00AA4F;
    transition: color .5s;
}

/*---------------------------
    SECCIONES-NOTIFICACIONES
---------------------------*/

.resumen {
    color: #00AA4F;
    transition: color .5s;
}

.a-tarjeta:hover, .resumen:hover {
    text-decoration: none;
}

.resumen:hover {
    color: black;
    transition: color .5s;
}

/*---------------------------
    SECCIONES-TARJETA
---------------------------*/

.tipo-tarjeta {
    color: #00AA4F;
}

.tarjeta {
    -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
}

/*---------------------------
    FOOTER
---------------------------*/

footer a {
    color: black;
}

footer a:hover {
    color: #00AA4F;
    text-decoration: none;
}

/*---------------------------
    @media-querys
---------------------------*/

    /*---------------------------
        @media - 576px
    ---------------------------*/

    @media (min-width: 476px) and (max-width: 700px) {
        .resumenes-tarjetas {
            flex-direction: column !important;
            margin: auto !important;
        }

        .segundo-resumen {
            margin-top: 2rem !important;
        }

        .datos-user {
            margin: auto !important;
        }

        .accesos {
            display: none !important;
        }

        /*---------------------------
            @media - footer
        ---------------------------*/

        footer {
            margin: 0px !important;
        }

        .secciones-footer {
            display: none !important;
        }
    }