/****************************
*****************************
    ROLLING BANK - HOME
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

/*---------------------------
    SALUDO
---------------------------*/

.saludo, .hola {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
}

/*---------------------------
    SALUDO-ANIMACION
---------------------------*/

.text-focus-in {
	-webkit-animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

/*---------------------------
    SECCIONES-HEADER
---------------------------*/

.secciones a:hover, .redes a:hover{
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
    font-weight: bold;
}

.redes a {
    font-size: 1.3rem;
    color: black;
}

/*---------------------------
    MODAL
---------------------------*/

form.iniciar, form.registrar {
    font-size: 0.9rem;
}

h3.titulo-modal {
    font-size: 1.2rem;
}

.registrar-body {
    border-right: 1px solid gray;
}

.btn-borrar {
    display: none!important;
}

.modal-header {
    background-color: #00AA4F!important;
    color: white;
    -webkit-box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
    box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
}

img.user-form {
    -webkit-box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
}

div.ingresar-dropdown {
    background-color: #31B66A!important;
    -webkit-box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
    box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
}

span.dropdown-item:hover {
    background-color: #31B66A!important;
}

button.dropdown-toggle::after {
    display: none!important;
}

.btn-form:hover {
    -webkit-box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
}

.extra {
    color: #7A7A7A;
}


/*---------------------------
    SLIDER
---------------------------*/

.slider-img {
    height: 600px!important;
}

.slider1 {
    height: 300px;
    width: 300px;
    background-color: white;
    z-index: 1000;
    position: absolute;
    top: 20%;
    left: 15%;
}

.slider-h {
    font-size: 1.2rem;
}

.slider-p {
    font-size: .9rem;
}

/*---------------------------
    CUENTAS
---------------------------*/

.opciones {
    border: none!important;
}

.opciones .card-title {
    font-size: 1.3rem;
}

.opciones .card-body a {
    margin-top: 50px!important;
}

.conoce:hover {
    text-decoration: none;
}

.opciones:hover .card-img-top{
    transform: translateY(0px);
    filter: grayscale(0%);
    filter: saturate(100%);
    transition: .5s;
}

.opciones:hover .card-body {
    transform: translateY(0px);
    transition: .5s;
}

.opciones:hover .conoce {
    transform: translateY(0px);
    transition: .5s;
}

.card-img-top {
    transform: translateY(100px);
    z-index: 1;
    filter: saturate(40%);
    transition: .5s;
}

.card-body {
    transform: translateY(-80px);
    transition: .5s;
}

.opciones .conoce {
    transform: translateY(-80px);
    transition: .5s;
    color: black;
}

.c-rollingbank {
    font-size: 1.5rem;
}

.opciones:hover {
    -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    transition: 1.1s;
}

/*---------------------------
    CUENTA-PREMIUM
---------------------------*/

.premium {
    background-color: #006EC1;
    color: white;
    height: 300px;
    width: 450px;
    transition: .5s;
}

.premium h5, .rockstar h5 {
    font-size: 1.8rem;
}

.premium:hover {
    background-color: rgb(2, 89, 155);
    transition: .5s;
}

/*---------------------------
    CUENTA-ROCKSTAR
---------------------------*/

.rockstar {
    background-color: #93D2CB;
    color: white;
    height: 300px;
    width: 450px;
    transition: .5s;
}

.premium span, .rockstar span {
    font-size: .9rem;
    font-weight: 100;
    line-height: 25px;
}

.rockstar:hover {
    background-color: rgb(116, 170, 164);
    transition: .5s;
}

/*---------------------------
    BTN MAS-INFO - CUENTAS
---------------------------*/

.mas-info {
    color: white;
    display: none;
}

.mas-info:hover {
    color: white;
    text-decoration: none;
}

.premium:hover .mas-info, .rockstar:hover .mas-info {
    display: unset;
}

/*---------------------------
    .fa-bolt PREMIUM
---------------------------*/

.fa-bolt {
    display: none;
}

.premium:hover .fa-bolt {
    display: unset;
}

.premium:hover .text-focus-in {
	-webkit-animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*---------------------------
    .fa-rocket ROCKSTAR
---------------------------*/

.rockstar .fa-rocket {
    display: none;
}

.rockstar:hover .fa-rocket {
    display: unset;
}

.rockstar:hover .text-focus-in {
	-webkit-animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in .8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*---------------------------
    .text-focus-in ANIMACION
    PREMIUM / ROCKSTAR
---------------------------*/

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

/*---------------------------
    FOOTER
---------------------------*/

footer a {
    color: black;
}

footer a:hover {
    color: #00AA4F;
    text-decoration: none;
}

/*---------------------------
    CHAT
---------------------------*/

.dropup {
    z-index: 1000;
    position: fixed;
    top: 80%;
}

.fa-comment-dots {
    font-size: 2rem;
}

.drop-titulo, .rocker {
    font-size: 15px;
}

.drop-disponible {
    font-size: 10px;
}

.drop-body {
    height: 400px;
    width: 300px;
}

.fa-times-circle {
    font-size: 1.3rem;
}

.rocker {
    background-color: rgb(161, 161, 161)!important;
    color: white;
}

/*---------------------------
    CHAT-ANIMACION
---------------------------*/
.shake-bottom {
	-webkit-animation: shake-bottom 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s infinite both;
	        animation: shake-bottom 1.2s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s infinite both;
}

@-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
@keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
}


/*---------------------------
    @media-querys
---------------------------*/

    /*---------------------------
        @media - 576px
    ---------------------------*/

@media (min-width: 476px) and (max-width: 700px) {

    /*---------------------------
        @media - header
    ---------------------------*/
    
    button.navbar-toggler, .redes, .home-banking {
        display: none !important;
    }

    nav img {
        margin: auto;
    }

    .saludo, .hola {
        font-size: 1.4rem;
    }

    .home-banking-res {
        display: unset !important;
    }

    .secciones {
        display: none !important;
    }

    /*---------------------------
        @media - modal
    ---------------------------*/

    .titulo-modal-res, .registrar {
        display: none;
    }

    .btn-borrar {
        display: unset !important;
    }

    .registrar-body {
        border-right: none !important;
    }

    /*---------------------------
        @media - slider
    ---------------------------*/

    .carousel-item img {
        height: 330px !important;
    }

    .slider1 {
        height: 200px !important;
    }

    .slider1 .slider-h {
        font-size: 1rem;
    }

    .slider1 button {
        width: 200px !important;
        margin: auto;
    }

    .slider-p {
        display: none !important;
    }

    /*---------------------------
        @media - cuentas
    ---------------------------*/

    .card-deck {
        margin: auto !important;
        display: flex !important;
        flex-direction: column !important;
    }


    .opciones {
        margin-top: 30px;
        height: 500px !important;
        width: 400px !important;
        -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
        -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
        box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    }

    .opciones .card-img-top, .card-body, .opciones .conoce {
        transform: translateY(0px) !important;
    }

    .opciones .card-img-top {
        filter: grayscale(0%) !important;
        filter: saturate(100%) !important;
    }
    

    /*---------------------------
        @media - cuentas-premium
    ---------------------------*/

    h4.cuentas-premium {
        font-size: 1.2rem !important;
        text-align: center;
    }

    .cuentas-PR {
        flex-direction: column;
        margin: auto !important;
    }

    .premium {
        margin-bottom: 30px !important;
    }

    .premium h5, .rockstar h5 {
        font-size: 1.5rem !important;
    }

    .premium, .rockstar {
        height: 300px !important;
        width: 400px !important;
    }

    .mas-info, .fa-bolt, .fa-rocket {
        display: unset !important;
    }

    /*---------------------------
        @media - chat
    ---------------------------*/

    .chat {
        display: none !important;
    }

    /*---------------------------
        @media - mision
    ---------------------------*/

    .mision h4 {
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
        font-size: 1.2rem;
    }

    .mision button {
        margin-bottom: 0px !important;
        margin-top: 20px !important;
        width: 400px;
    } 

    /*---------------------------
        @media - footer
    ---------------------------*/

    footer {
        margin: 0px !important;
    }

}


    /*---------------------------
        @media - 700px / 850px
    ---------------------------*/

    @media (min-width: 700px) and (max-width: 850px) {

        /*---------------------------
            @media - header
        ---------------------------*/
    
        .saludo, .hola {
            font-size: 1.4rem;
        }
    
        .secciones {
            display: none !important;
        }
    
        /*---------------------------
            @media - slider
        ---------------------------*/
    
        .carousel-item img {
            height: 330px !important;
        }
    
        .slider1 {
            height: 200px !important;
        }
    
        .slider1 .slider-h {
            font-size: 1rem;
        }
    
        .slider1 button {
            width: 200px !important;
            margin: auto;
        }
    
        .slider-p {
            display: none !important;
        }

        /*---------------------------
            @media - modal
        ---------------------------*/

        .titulo-modal-res, .registrar {
            display: none;
            border: none !important;
        }

        .registrar-body {
            border-right: none !important;
        }

        .btn-borrar {
            display: unset !important;
        }
    
        /*---------------------------
            @media - cuentas
        ---------------------------*/

        .c-rollingbank {
            font-size: 1.3rem !important;
        }
    
        .card-deck {
            margin: auto !important;
            display: flex !important;
            flex-direction: column !important;
        }
    
    
        .opciones {
            margin-top: 30px;
            height: 500px !important;
            width: 400px !important;
            -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
            -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
            box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
        }
    
        .opciones .card-img-top, .card-body, .opciones .conoce {
            transform: translateY(0px) !important;
        }
    
        .opciones .card-img-top {
            filter: grayscale(0%) !important;
            filter: saturate(100%) !important;
        }
        
    
        /*---------------------------
            @media - cuentas-premium
        ---------------------------*/
    
        h4.cuentas-premium {
            font-size: 1.2rem !important;
            text-align: center;
        }
    
        .cuentas-PR {
            flex-direction: column;
            margin: auto !important;
        }
    
        .premium {
            margin-bottom: 30px !important;
        }
    
        .premium h5, .rockstar h5 {
            font-size: 1.5rem !important;
        }
    
        .premium, .rockstar {
            height: 300px !important;
            width: 400px !important;
        }
    
        .mas-info, .fa-bolt, .fa-rocket {
            display: unset !important;
        }

        /*---------------------------
            @media - chat
        ---------------------------*/

        .chat {
            display: none !important;
        }
    
        /*---------------------------
            @media - mision
        ---------------------------*/
    
        .mision h4 {
            text-align: center;
            padding: 0px !important;
            margin: 0px !important;
            font-size: 1.2rem;
        }
    
        .mision button {
            margin-bottom: 0px !important;
            margin-top: 20px !important;
            width: 400px;
        } 
    
        /*---------------------------
            @media - footer
        ---------------------------*/
    
        footer {
            margin: 0px !important;
        }
    
    }
    

    /*---------------------------
        @media - 851px / 992px
    ---------------------------*/

    @media (min-width: 851px) and (max-width: 992px) {

        /*---------------------------
            @media - header
        ---------------------------*/
    
        .saludo, .hola {
            font-size: 1.4rem;
        }
    
        /*---------------------------
            @media - slider
        ---------------------------*/
    
        .carousel-item img {
            height: 400px !important;
        }
    
        .slider1 {
            height: 200px !important;
        }
    
        .slider1 .slider-h {
            font-size: 1rem;
        }
    
        .slider1 button {
            width: 200px !important;
            margin: auto;
        }
    
        .slider-p {
            display: none !important;
        }

        /*---------------------------
            @media - modal
        ---------------------------*/

        .titulo-modal-res, .registrar {
            display: none;
        }

        .registrar-body {
            border: none !important;
        }

        .btn-borrar {
            display: unset !important;
        }
    
        /*---------------------------
            @media - cuentas
        ---------------------------*/

        .c-rollingbank {
            font-size: 1.3rem !important;
        }
    
        .card-deck {
            margin: auto !important;
            display: flex !important;
            flex-direction: column !important;
        }
    
    
        .opciones {
            margin-top: 30px;
            height: 500px !important;
            width: 400px !important;
            -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
            -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
            box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
        }
    
        .opciones .card-img-top, .card-body, .opciones .conoce {
            transform: translateY(0px) !important;
        }
    
        .opciones .card-img-top {
            filter: grayscale(0%) !important;
            filter: saturate(100%) !important;
        }
        
    
        /*---------------------------
            @media - cuentas-premium
        ---------------------------*/
    
        h4.cuentas-premium {
            font-size: 1.2rem !important;
            text-align: center;
        }
    
        .premium h5, .rockstar h5 {
            font-size: 1.5rem !important;
        }
    
        .premium, .rockstar {
            height: 300px !important;
            width: 400px !important;
        }
    
        .mas-info, .fa-bolt, .fa-rocket {
            display: unset !important;
        }

        /*---------------------------
            @media - chat
        ---------------------------*/

        .chat {
            display: none !important;
        }
    
        /*---------------------------
            @media - mision
        ---------------------------*/
    
        .mision h4 {
            text-align: center;
            padding: 0px !important;
            margin: 0px !important;
            font-size: 1.2rem;
        }
    
        .mision button {
            margin-bottom: 0px !important;
            margin-top: 20px !important;
            width: 400px;
        } 
    
        /*---------------------------
            @media - footer
        ---------------------------*/
    
        footer {
            margin: 0px !important;
        }
    
    }

    /*---------------------------
        @media - 851px / 992px
    ---------------------------*/

    @media (min-width: 993px) and (max-width: 1200px) {
        /*---------------------------
            @media - modal
        ---------------------------*/

        .titulo-modal-res, .registrar {
            display: none;
        }

        .modal-registrar {
            z-index: 1 !important;
        }
        
        .registrar-body {
            border-right: none !important;
        }

        .btn-borrar {
            display: unset !important;
        }
    }

