/****************************
*****************************
    ROLLING BANK - HOMEBANKING
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

.saludo, .hola {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
}

.secciones a:hover{
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
    font-weight: bold;
}

/*---------------------------
    CONTENEDOR CENTRAL
---------------------------*/

#cda, #montocaja {
    font-size: 1.2rem;
}

.cajaAhorro {
    color: black !important;
}

.cajaAhorro:hover {
    color: black !important;
    text-decoration: none !important;
}

.random {
    height: 400px!important;
}

/*---------------------------
    SALDO TARJETA
---------------------------*/

.tarjeta-rolling {
    color: white !important;
}

.tarjeta-rolling:hover {
    text-decoration: none !important;
    color: white !important;
}

.contenedorizq {
    background-color: white!important;
}

#tarjetaEnlance:nth-child:hover {
    text-decoration: none!important;
    color: white!important;
}

.saldoDisponible {
    font-size: 1.5rem!important;
}

.saldoTarjeta {
    font-size: 1.4rem!important;
}

/*---------------------------
    MODAL
---------------------------*/

form.iniciar, form.registrar {
    font-size: 0.9rem;
}

h3.titulo-modal {
    font-size: 1.2rem;
}

.modal-header {
    background-color: #00AA4F!important;
    color: white;
    -webkit-box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
    box-shadow: 0px 39px 53px -30px rgba(0,0,0,0.27);
}

img.user-form {
    -webkit-box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 62px 7px rgba(0,0,0,0.28);
}

div.ingresar-dropdown {
    background-color: #31B66A!important;
    -webkit-box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
    box-shadow: 0px 4px 36px 20px rgba(0,0,0,0.27);
}

span.dropdown-item:hover {
    background-color: #31B66A!important;
}

button.dropdown-toggle::after {
    display: none!important;
}

.btn-form:hover {
    -webkit-box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
    -moz-box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
    box-shadow: 0px 0px 62px 1px rgba(0,0,0,0.28);
}

.extra {
    color: #7A7A7A;
}


/*---------------------------
    SLIDER-IMG
---------------------------*/

.slider-img {
    height: 600px!important;
}

/*---------------------------
    CUENTAS
---------------------------*/

.c-rollingbank {
    font-size: 1.5rem;
}

.opciones {
    -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
    box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.45);
}

.card-title {
    background-color: #A2D5AE;
}

/*---------------------------
    CUENTAS-PREMIUM
---------------------------*/

.premium {
    background-color: #006EC1;
    color: white;
}

.premium h5 {
    font-size: 1.8rem;
}

.rockstar {
    background-color: #93D2CB;
    color: white;
}

.rockstar h5 {
    font-size: 1.8rem;
}

.premium span, .rockstar span {
    font-size: .9rem;
    font-weight: 100;
    line-height: 25px;
}

/*---------------------------
    FOOTER
---------------------------*/

footer a {
    color: black;
}

footer a:hover {
    color: #00AA4F;
    text-decoration: none;
}

.fa-twitter-square, .fa-facebook-square, .fa-instagram {
    font-size: 1.5rem;
}

/*---------------------------
    PRUEBA
---------------------------*/

.dropup {
    z-index: 1000;
    position: fixed;
    top: 80%;
}

.fa-comment-dots {
    font-size: 2rem;
}

.drop-titulo, .rocker {
    font-size: 15px;
}

.drop-disponible {
    font-size: 10px;
}

.drop-body {
    height: 400px;
    width: 300px;
}

.fa-times-circle {
    font-size: 1.3rem;
}

.rocker {
    background-color: rgb(161, 161, 161)!important;
    color: white;
}

/*---------------------------
    @media-querys
---------------------------*/

    /*---------------------------
        @media - 576px
    ---------------------------*/

    @media (min-width: 476px) and (max-width: 700px) {

        /*---------------------------
            @media - header
        ---------------------------*/
    
        .secciones-header {
            flex-direction: column !important;
            margin: auto !important;
            text-align: center !important;
        }

        .contentp {
            flex-direction: column !important;
        }

        .contentPublic {
            margin: auto !important;
        }
    
        /*---------------------------
            @media - footer
        ---------------------------*/
    
        footer {
            margin: 0px !important;
        }

        .secciones-footer {
            display: none !important;
        }
    
    }