/****************************
*****************************
    ROLLING BANK - ADMINISTRACIÓN
*****************************
****************************/

/*---------------------------
    BODY, HTML
---------------------------*/

body, html {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.9px;
}

/*---------------------------
    NAVBAR
---------------------------*/

.home {
    color: black;
    transition: color .5s;
}

.home:hover {
    text-decoration: none;
    color: #00AA4F!important;
    transition: color .5s;
}

.panel {
    margin-top: 0!important
}

.botonesnav{
    margin-top: 1rem!important;
}